/* styles.css */

/* General Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Example of handwritten-like font */
}

/* First Section Styles */
.first-section {
    background-color: rgb(237, 182, 35);
    padding: 30px 0;
    height: 100vh;
    position: relative;
}

/* Container Styles */
.container-heading,
.container-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Heading Styles */
.heading h1 {
    font-size: 90px;
    margin-bottom: 0px;
}

.heading h2 {
    font-size: 22px;
    margin-bottom: 30px;
    color: #000000;
    text-transform: uppercase;
}

/* Sub-container Styles */
.left-sub-container,
.right-sub-container {
    transform: translateY(-20px);
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-sub-container img {
    width: 100%;
    height: auto;
    align-self: flex-end;
}

.right-sub-container {
    position: relative;
}

/* Button Styles */
.get-ponk-btn {
    padding: 12px 20px;
    background-color: rgb(237, 59, 35);
    color: #fff;
    text-decoration: none;
    border: 5px solid black;
    font-size: 34px;
    font-weight: 900;
    cursor: pointer;
}

.get-ponk-btn:hover {
    background-color: rgb(237, 59, 35);
}

/* Tokenomics Section */
.tokenomics {
    background-color: rgb(237, 182, 35);
    padding: 40px;
}

.tokenomics ul {
    list-style: none;
    padding-left: 0;
}

.tokenomics li {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .logo-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .logo-container {
        grid-template-columns: 1fr;
    }
}
